html {
  background-color: aliceblue;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("./img/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 15px 0 0;
}

nav ul li {
  list-style: none;
  margin: 20px 12px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 6px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

/* Section */
section {
  width: 900px;
  margin: auto;
  text-align: center;
}

section {
  margin-top: 40px;
}

section #form {
  width: 50%;
  float: left;
}

/* Profile */
#profile {
  font-family: 'Courier New', Courier, monospace;
  float: left;
  margin: 0 50px 0 70px;
}

#profile .profile-photo {
  overflow: hidden;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid rgba(255, 255, 255, 0);
  outline: 4px solid white;
}
#profile .profile-photo img {
  margin-top: -40px;
}

.profile-text .action button {
  display: inline-block;
  width: 25%;
  margin-left: 5px;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
}

.profile-text .action button:active {
  box-shadow: inset 0 0 5px 1px black;
}

.profile-text .action #kontak {
  background-color: blue;
  border:none;
  color: white;
}

/* Detail */
#detail table {
  font-size: 17px;
}

/* Form */
form {
  margin-top: 30px;
  text-align: left;
}

form input {
  width: 100%;
  margin-bottom: 16px;
  margin-top: 3px;
}

form input[type="submit"] {
  margin: 0;
  padding: 10px 5px;
  background-color: green;
  border: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

form input:active {
  box-shadow: inset 0 0 5px 1px black;
}

/* Aksesoris */
.line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 70px;
  margin: 0 0 10px 10px;
  border-left: 6px solid white;
  border-bottom: 6px solid white;
}

.line-top {
  width: 200px;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  border-top: 6px solid white;
  border-right: 6px solid white;
  margin: 10px 10px 0 0;
}

/* tambahkan CSS untuk section profile disini */
